@model IEnumerable<LibaryManagementSystem.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
           
            <th>
                Edit
            </th>
            <th>
                Details
            </th>
            <th>
                Delete
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelCategory => category.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelCategory => category.Name)
                </td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@category.Id">Edit</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@category.Id">Details</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@category.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
